*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container{
    height: 100vh;
    background-color: #6c38d3;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-item{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
}

.nav-btn{
    padding: .5rem;
    margin-right: 3rem;
    background-color: green;
    color: antiquewhite;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left-section{
    margin-left: 5rem;
}

.hero-left-section h1{
    font-size: 50px;
    font-weight: bold;
    color: antiquewhite;
}

.hero-left-section p{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    margin-top: 3rem;
}

.saas-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saas-right-section{
    margin-right: 5rem;
}

.saas-right-section h1{
    font-size: 45px;
    font-weight: bold;
}

.saas-right-section h2{
    margin-top: 3rem;
    margin-left: 2rem;

}

.saas-right-section p{
    margin-left: 2rem;
    margin-top: 1rem;
}

.card-feature{
    margin-left: 500px;
    margin-top: 3rem;
}

.card-container{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    height: 35vh;
    text-align: center;
    place-items: center;
    column-gap: 12rem;
    margin-bottom: 5rem;
    
}

.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 350px;
    padding: 2rem;
    margin-top: 10rem;
}

.card-image{
    border-radius: 80%;
    background-color: #e4cac5;
    display: grid;
    place-content: center;
}

.card-details{
    margin-top: 1rem;
}

.card-details h2{
    margin-top: 1rem;
}

.card-details p{
    margin-top: 1rem;
}

@media screen and (max-width:768px) {
    .nav-links{
        display: none;
    }

    .hero-container{
        height: 150vh;
        background-color: #6c38d3;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
    }

    .hero-right-section img{
        width: 150px;
        height: 150px;
    }

    .saas-container{
        display: flex;
        flex-direction: column;
    }

    .saas-right-section{
        margin-left: 5rem;
    }

    .customer-container{
        display: flex;
        flex-direction: column;
    }

    .card-feature{
        margin-left: 3rem;
    }

    .card-container{
        display: flex;
        flex-direction: column;
    }

}